* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-montserrat: 'Montserrat', sans-serif;
    --font-rozha: 'Rozha One', serif;
}

header {
    width: 700px;
    text-align: center;
    margin: 14px auto;
    padding: 14px;
    border: 3.5px solid black;
    border-radius: 14px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    justify-items: center;
    flex-direction: row;
    max-width: 1200px;
    margin: auto;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 200px;
    margin: 14px;
    padding: 14px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    background-color: white;
    border-radius: 14px;
    transition: 1s;
}

.card-container:hover{
    transform: translateY(3px);
    background-color: white;
    
}

h1 {
    font-family: var(--font-rozha);
    font-size: 84px;
    font-weight: bold;
}

h2,
h3 {
    font-family: var(--font-montserrat);
    font-weight: 600;
}

footer,
a {
    font-family: var(--font-montserrat);
    font-weight: 400;
}

a {
    text-decoration: none;
    color: black;
    pointer-events: none;
}

li {
    list-style-type: none;
}

footer {
    text-align: center;
    margin: 21px;
}